* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  resize: none;
}

textarea:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#word-counter,
#char-counter {
  font-size: 18px;
  margin-top: 10px;
}

input[type="number"],
input[type="range"] {
  margin: 30px;
  padding: 10px;
}
